<h2>Recuperar Password</h2>
<form action="/request-password-reset" method="POST" style="display: grid; width:400px; margin:10px; padding: 5px">
    <label for="email"> Por favor ingrese su correo le estaremos enviando un mail para recuperar su cuenta:</label>
    <input type="email" name="email" required>
    <button type="submit" Style="margin: 15px;">Recuperar Cuenta</button>
</form>

<a href="/login" Style="margin: 15px;">Iniciar sesión</a>